/* Name: Lee Hong Yi */
/* Adm. No: 2223010 */
/* Class: DAAA/FT/1B/05 */

@font-face {
    font-family: worksans;
    src: url(../others/WorkSans-VariableFont_wght.ttf);
}

body {
    font-family: worksans, Arial, Helvetica, sans-serif;
}